<% if logged_in? %>
  Recommendedの実装方法を考えるー<br>
  <h2>Recommended papers</h2>
  <%= link_to 'Search papers', papers_path, class: 'btn btn-lg btn-primary' %>
  <h2>Recommended users</h2>
  <%= link_to 'Search users', users_path, class: 'btn btn-lg btn-primary' %>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Science Cafe</h1>
        <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>