#userInfo th {
    width: 25%;
}


#userInfo td {
    width: 75%;
    word-break: break-word;
    word-wrap: break-word;
}

#linklist{
    margin-right: 20px;
}

.nav-tabs .nav-link.active {
    background-color: #ddf;
}